<section class="twimp_list">
  <tweempus-twimp-card [twimp]="twimps[0]"></tweempus-twimp-card>
  <tweempus-twimp-card [twimp]="twimps[1]"></tweempus-twimp-card>
  <tweempus-twimp-card [twimp]="twimps[2]"></tweempus-twimp-card>
  <tweempus-twimp-card [twimp]="twimps[3]"></tweempus-twimp-card>
</section>