<ul>
  <li>El número original es: {{number | numberPrefix}}</li>
  <li>El número en España sería: {{number | numberPrefix:'SPAIN'}}</li>
  <li>El número en Francia sería: {{number | numberPrefix:'FRANCE'}}</li>
</ul>
