<section class="twimp">

	<div class="twimp_header">
		<img class="twimp_header_img" src="assets/images/google-icon.png" alt="Imagen de un twimp">
		<a class="twimp_header_name" href="www.therewego.com" target="_b">by David</a>
		<div class="twimp_header_date">Published on 24/11/2016</div>
	</div>

	<div class="twimp_content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur sodales libero, sit amet posuere arcu consectetur
		ut. Nam volutpat ligula ac nunc consectetur vestibulum.
	</div>

	<hr class="twimp_line">

	<div class="twimp_fav">
		<a class="fav_icon fav_icon-selected" href="#">&#10084;</a>
	</div>

</section>
<section class="twimp">

	<div class="twimp_header">
		<img class="twimp_header_img" src="assets/images/google-icon.png" alt="Imagen de un twimp">
		<a class="twimp_header_name" href="www.therewego.com" target="_b">by David</a>
		<div class="twimp_header_date">Published on 24/11/2016</div>
	</div>

	<div class="twimp_content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur sodales libero, sit amet posuere arcu consectetur
		ut. Nam volutpat ligula ac nunc consectetur vestibulum.
	</div>

	<hr class="twimp_line">

	<div class="twimp_fav">
		<a class="fav_icon fav_icon-selected" href="#">&#10084;</a>
	</div>

</section>
<section class="twimp">

	<div class="twimp_header">
		<img class="twimp_header_img" src="assets/images/google-icon.png" alt="Imagen de un twimp">
		<a class="twimp_header_name" href="www.therewego.com" target="_b">by David</a>
		<div class="twimp_header_date">Published on 24/11/2016</div>
	</div>

	<div class="twimp_content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur sodales libero, sit amet posuere arcu consectetur
		ut. Nam volutpat ligula ac nunc consectetur vestibulum.
	</div>

	<hr class="twimp_line">

	<div class="twimp_fav">
		<a class="fav_icon fav_icon-selected" href="#">&#10084;</a>
	</div>

</section>
<section class="twimp">

	<div class="twimp_header">
		<img class="twimp_header_img" src="assets/images/google-icon.png" alt="Imagen de un twimp">
		<a class="twimp_header_name" href="www.therewego.com" target="_b">by David</a>
		<div class="twimp_header_date">Published on 24/11/2016</div>
	</div>

	<div class="twimp_content">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur sodales libero, sit amet posuere arcu consectetur
		ut. Nam volutpat ligula ac nunc consectetur vestibulum.
	</div>

	<hr class="twimp_line">

	<div class="twimp_fav">
		<a class="fav_icon fav_icon-selected" href="#">&#10084;</a>
	</div>

</section>