<section class="main fadein fadeInLeft section_login">

  <div class="login_box rubberBand animated">
    <img class="login_image" src="assets/images/logo-login.png">
    <div class="login_text">Pulsa el botón de Log-In para entrar en Tweempus</div>
    <button class="login_button" (click)="logIn()">Log-in</button>
  </div>

</section>